body
{

    height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background:
    radial-gradient(ellipse at 20% 20%, #35234b 0%, transparent 70%),
    linear-gradient(rgb(235, 94, 169),rgb(224, 207, 109),rgb(238, 53, 84));
    font-size: 40px;
    font-family:cursive
    
}

h1
{
    text-align: center;
    background-color:rgb(252, 227, 134);
    
}

h2
{
    text-align: center;
    background-color:rgb(176, 249, 223);
}
p
{
    text-align: center;
}


